version: '3'

services:

  db:
    image: postgres
    container_name: postgres
    restart: always  
    volumes:
      - pgdata:/var/lib/postgresql
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
  
volumes:
  pgdata: